@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: "Geist Sans", sans-serif;
  --font-fredoka: "Fredoka", sans-serif;
  --color-primary-orange: #ff942c;
}
