:root {
  --darkreader-neutral-background: #212222;
  --darkreader-neutral-text: #eae3d9;
  --darkreader-selection-background: #165aaa;
  --darkreader-selection-text: #fbf5ec;
}
body {
  background-color: var(--darkreader-neutral-background);
  color: var(--darkreader-selection-text);
}
